.dash-pane {
    -fx-pref-height: 850;
    -fx-pref-width: 1400;
    -fx-background-color: #f6f1f1;
    /*-fx-background-color: white;*/
}
.top-pane {
    -fx-background-color: #328ca8;
    -fx-pref-height: 37;
}
.side-pane {
    -fx-background-color: #328ca8;
    -fx-pref-width: 200;
}

.side-btn {
    -fx-pref-width: 176;
    -fx-pref-height: 46;
    -fx-background-color: #328ca8;
    -fx-text-fill: #efe7e7;
}
.side-btn:hover {
    -fx-background-color: #3aa7c7;
    -fx-cursor: hand;
}

.menu:hover {
    -fx-background-color: #3aa7c7;
    -fx-cursor: hand;
}
.cancel:hover {
    -fx-background-color: red;
    -fx-cursor: hand;
}

.menu-btn-side-pane{
    -fx-pref-width: 176;
    -fx-pref-height: 46;
    -fx-background-color: #328ca8;
    -fx-font-size: 18;
    -fx-font-family: Arial;
    -fx-text-fill: white;
}
.text-field {
    -fx-background-color: #F6F6F6;
    -fx-border-color: #3a6188;
    -fx-border-width: 0.5;
}


.notify-circle {
    -fx-background-color: red;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}
.menu-hover:hover{
    -fx-background-color: #d3d1d1;
    -fx-pref-height: 70;
    -fx-cursor: hand;
}